:root {
  --main-color: hsl(273 70% 16%);

  --wave-height: 12px;
  --wave-width: 800px;
}

html {
  font-size: 100%;
}

body {
  margin: 0;

  font-size: 1.125em;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

a {
  color: var(--main-color);
}

.title {
  margin: 0;

  font-size: 3em;
  font-family: "Love Ya Like A Sister", cursive;
}

.header {
  min-height: 80vh;
  padding-bottom: 1em;
  position: relative;

  margin-bottom: var(--wave-height);

  color: hsl(0 0% 100%);
  background: var(--main-color);

  display: grid;
}

.header .container {
  text-align: center;

  display: grid;
  gap: 1em;
  grid-template-areas: "me" "bio";
  align-items: center;
  align-content: center;
  justify-items: center;
}

.header:after {
  content: "";

  position: absolute;
  height: var(--wave-height);
  width: 100%;
  top: 100%;

  background: url("./curly.svg");

  animation: 10s linear infinite slide;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: var(--wave-width);
  }
}

.me {
  grid-area: me;

  width: 192px;
  height: 216px;

  background: url("./jeff.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bio {
  grid-area: bio;
}

.bio .by-line {
  color: color-mix(in hsl, var(--main-color), white 60%);
}

.container {
  padding: 1em;
  margin: 0 auto;
}

section h3 {
  margin: 0;

  font-size: 1.5em;
  font-weight: 900;
}

section h4 {
  margin: 0;

  color: hsl(0 0% 60%);
  font-size: 1em;
  font-weight: 800;
}

.socials {
  padding: 0;
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.social a {
  display: block;
  width: 2em;
  height: 2em;

  background-size: 2em 2em;
  background-repeat: no-repeat;
}

.position header {
  margin-bottom: 1em;
}

.position-name {
  margin: 0;

  font-size: 1.5em;
  font-weight: 800;
}

.position-company {
  margin: 0;

  color: hsl(0 0% 60%);
  font-size: 1.125em;
  font-weight: 600;
}

.position-duration {
  margin: 0;

  color: hsl(0 0% 80%);
  font-size: 0.625em;
}

.position img {
  width: 100%;
}

figure {
  margin: 0;
}

figure img {
  display: block;
}

figure figcaption {
  margin-bottom: 1em;

  text-align: center;
  font-size: 0.625em;
  color: hsl(0 0% 80%);
}

@media only screen and (min-width: 680px) {
  body {
    font-size: 1.125em;
  }

  .me {
    width: 316px;
    height: 100%;
  }

  .container {
    max-width: 800px;
  }

  .header .container {
    text-align: start;

    grid-template-areas: "bio me";
  }

  .socials {
    justify-content: start;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.5em;
  }

  .me {
    width: 360px;
    height: 100%;
  }
  .container {
    max-width: 1024px;
  }
}

.carousel-scroller {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  grid-auto-columns: minmax(100%, 1fr);
}

[data-carousel-next] {
  position: absolute;
  top: 0;
  right: -1em;
  width: 1em;
  height: 100%;
  padding: 0;

  cursor: pointer;
  font-size: inherit;

  border: 0;
  background: transparent;

  transition: background 200ms ease-in-out;
}

[data-carousel-next]:hover {
  background: hsl(0 0% 50% / 50%);
}

[data-carousel-next]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url("./arrow.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .carousel-card {
  scroll-snap-align: start;
}

.carousel-index {
  overflow: hidden;
  padding: 0;
  margin: 0;

  list-style: none;

  display: grid;
  gap: calc(1em - 8px);
  grid-auto-flow: column;
}

.carousel-index-card {
  border: solid 4px transparent;
  border-radius: 2px;

  transition: 200ms opacity ease-in-out;
}

.carousel-index:has(:hover) .carousel-index-card:not(:hover) {
  opacity: 0.5;
}

.carousel-index-card button {
  display: block;
  margin: 0;
  padding: 0;

  cursor: pointer;

  border: 0;
}

.carousel-index-card img {
  display: block;
}

.carousel-index-card.active {
  border-color: var(--main-color);
}
